/* tabela */

#table {
  width: 100%;
  text-align: center;
  margin-top: -1px;
  background-color: #fff;
}

#table th {
  padding: 0.7rem;
  background-color: #c6e4c0;
  font-size: 16px;
}

#table td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}
