/* tabela */

#table {
  width: 100%;
  text-align: center;
  margin-top: -1px;
  background-color: #fff;
  position: relative;
}

#table th {
  padding: 0.7rem;
  background-color: #c6e4c0;
  font-size: 16px;
}

#table td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.btn {
position: absolute;
top: 130px;
right: 302px;
border: none;
padding: .5rem;
border-radius: .4rem;
box-shadow: 1px 1px 1px black;
}

.unsearched-buyer {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 2rem;
  font-size: 24px;
}